.wrapper {
  display: grid;
  grid-template-areas:
    'header header header'
    'aside main main'
    'aside sub-1 sub-2'
    'footer footer footer';
  gap: 2rem 4rem;
  font-family: monospace;
  font-size: 1.3rem;
  color: #f4f4f4;
}

.wrapper > * {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  grid-area: header;
  background-color: #ffd195;
  color: #41354d;
}

.aside {
  grid-area: aside;
  height: 100%;
  background: #de7e44;
}

.main {
  grid-area: main;
  background-color: #5d9b84;
}

.article {
  background-color: #537479;
}

.sub-1 {
  grid-area: sub-1;
}

.sub-2 {
  grid-area: sub-2;
}

.footer {
  grid-area: footer;
  background-color: #41354d;
}
