.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 4rem;
  font-family: monospace;
  font-size: 1.3rem;
  color: #f4f4f4;
}

.wrapper > * {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stretch {
  grid-column: 1 / span 3;
}

.header {
  background-color: #ffd195;
  color: #41354d;
}

.aside {
  height: 100%;
  grid-row: 2 / span 2;
  background: #de7e44;
}

.main {
  grid-column: 2 / -1;
  background-color: #5d9b84;
}

.article {
  background-color: #537479;
}

.footer {
  background-color: #41354d;
}
